@font-face {
  font-family: "Inter";
  src: url(/assets/fonts/Inter-VariableFont_opsz,wght.ttf) format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

/* Väripaletti: https://colorhunt.co/palette/eef5ffb4d4ff86b6f6176b87 */

:root {
  /* Päävärit */
  --whiteBlue: rgb(238, 245, 255);
  --darkLightBlue: rgb(134, 182, 246);
  --lightBlue: rgb(180, 212, 255);
  --oceanDark: rgb(23, 107, 135);
  --charcoal: rgb(54, 69, 79);
  --footer: rgb(70, 100, 150);

  /* Vastavärit */
  --peach: rgb(246, 182, 134);
  --softOrange: rgb(255, 240, 220);
  --softGoldenOrange: rgb(246, 182, 134);
}

body {
  margin: 0;
  background-color: var(--whiteBlue);
  font-family: "Inter", sans-serif;
}

.dark-theme {
  /* Päävärit */
  --whiteBlue: rgb(30, 30, 30); /* Tumma tausta */
  --darkLightBlue: rgb(70, 70, 70); /* Tumma vaalean sininen */
  --lightBlue: rgb(50, 50, 50); /* Tumma sininen */
  --charcoal: rgb(200, 200, 200); /* Vaaleampi tummanharmaa */
  --footer: rgb(50, 50, 50);
  /* --charcoal: rgb(34, 34, 34); */

  /* Vastavärit */
  --peach: rgb(
    246,
    182,
    134
  ); /* Voit pitää tämän alkuperäisenä, tai muuttaa sen esimerkiksi vaaleammaksi */
  --softOrange: rgb(200, 120, 90); /* Vaaleampi pehmeä oranssi */
  --softGoldenOrange: rgb(200, 160, 90); /* Vaaleampi kultainen oranssi */
}
/* body.dark-mode {
  background-color: black;
  color: #2196f3;
} */

.dark-mode-whiteBlue {
  background-color: black !important;
  color: #2196f3;
}

.dark-mode-darkLight {
  background-color: brown;
  color: aqua;
}

header {
  height: 4rem;
  background-color: var(--darkLightBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--softGoldenOrange);
}

.iconAndDarkContainer {
  height: 100%;
  display: flex;
  margin-left: 1rem;
}

.darkMode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

#darkModeTog {
  opacity: 0;
  position: absolute;
}

.toggleSwitch {
  position: relative;
  display: flex;
  cursor: pointer;
  background-color: var(--charcoal);
  width: 64px;
  height: 32px;
  padding: 5px;
  border-radius: 45px;
  justify-content: space-between;
  align-items: center;
}

.toggleSwitch .sliderBall {
  background-color: var(--softGoldenOrange);
  width: 26px;
  height: 26px;
  position: absolute;
  left: 4px;
  border-radius: 50%;
  transition: 0.4s;
}

#darkModeTog:checked + .toggleSwitch .sliderBall {
  transform: translateX(32px);
}

.headerIcon {
  height: 90%;
  /* margin-left: 1rem; */
  border-radius: 20px;
}

.nav {
  height: 100%;
  width: 6rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.loginBtn {
  background: none;
  color: var(--softGoldenOrange);
  padding: 1rem;
  border: none;
  font-size: 2rem;
  transition: color 0.5s, font-size 0.5s;
  display: flex;
  justify-content: center;
}

.loginBtn:hover {
  cursor: pointer;
  color: var(--charcoal);
  font-size: 2.5rem;
}

main {
  height: calc(100vh - 8rem);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurantList {
  flex: 1;
  height: 100%;
  background-color: var(--whiteBlue);
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 360px;
}

.favRes {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.favRes > h2 {
  text-align: center;
  margin: 10px;
  flex: 1;
  color: var(--charcoal);
}

#favResBox {
  width: 80%;
  color: var(--charcoal);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  font-weight: bolder;
  padding: 1rem;
  border: solid 2px var(--peach);
  background-color: var(--lightBlue);
  border-radius: 10px;
  flex: 2;
}

#bottomLine {
  margin-top: 1rem;
  width: 80%;
  height: 2px;
  background: var(--oceanDark);
}

.sortOptions {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
  flex: 5;
}

.sortBtn {
  width: 80%;
  height: 2rem;
  background-color: var(--lightBlue);
  color: var(--charcoal);
  font-weight: bold;
  border-radius: 45px;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.splitLine {
  background: var(--oceanDark);
  width: 3px;
  height: 100%;
}

.mapContainer {
  flex: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  background-color: var(--whiteBlue);
  color: var(--charcoal);
}

.map {
  height: 100%;
  /* background-color: beige; */
  border: solid 2px var(--softOrange);
  border-radius: 16px;
}

footer {
  height: 4rem;
  /* joku hieno väri kiitos :) */
  background-color: var(--footer);
  /* joku hieno väri kiitos :) */
  color: var(--peach);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  main {
    flex-direction: column;
  }
  .splitLine {
    display: none;
  }

  .restaurantList {
    width: 100%;
    max-width: none;
    flex: 1;
  }

  .mapContainer {
    flex: 5;
  }

  .sortOptionsLines {
    position: relative;
    width: 90%;
    height: 1px;
    transform: scaleY(2);
    align-self: center;
    background-color: var(--oceanDark);
  }

  .favRes {
    flex-direction: row;
    align-self: center;
    padding: 10px 0;
    width: 80%;
  }

  .favRes > h2 {
    font-size: 22px;
    flex: 3;
  }

  #bottomLine {
    display: none;
    margin: 0;
    padding: 0;
  }

  .sortOptions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .sortBtn {
    width: 10vw;
    min-width: 84px;
  }

  .mapContainer {
    width: 100%;
  }
}

@media (max-width: 450px) {
  header .headerText {
    font-size: smaller;
  }

  .darkMode {
    margin-left: 3px;
  }

  .toggleSwitch {
    width: 59px;
    height: 27px;
  }

  .toggleSwitch .sliderBall {
    width: 21px;
    height: 21px;
  }
}

@media (max-width: 365px) {
  header .headerText {
    font-size: 12px;
  }

  .toggleSwitch {
    width: 54px;
    height: 22px;
  }

  .toggleSwitch .sliderBall {
    width: 16px;
    height: 16px;
  }
}
